<!--タイトル-->
{{define "contentTitle"}}{{.Title |html}}{{end}}





<!----- コンテンツボディ ----->
{{define "contentBody"}}
<h1>{{.Title |html}}</h1>
<article>{{.Body |html}}</article>
<form method="POST" action="write">
    <input type="image" src={{.ImageUrl |html}} width="300px" name="name" value="ヴェアアアアア">
</form>
<img src={{.ImageUrl |html}} width="300px">
{{range $i, $v := .NameAry}}
<p>ああああああああ {{$v}}</p>
{{end}}
{{with index .NameAry 2}}
  {{.}}
{{end}}
{{range .IndexAry}}
{{.}}
{{end}}
<br>
{{range $index, $value := .Person1}}
{{$index}} {{$value.ArticleDetailUrl}} {{$value.Index}} {{$value.ImageUrl}} {{$value.Name}}<br>
{{end}}
<br>
{{range $index, $value := .Person2}}
{{$index}} {{$value.ArticleDetailUrl}} {{$value.Index}} {{$value.ImageUrl}} {{$value.Name}}<br>
{{end}}
<br>
{{range $index, $value := .Person3}}
{{$index}} {{$value.ArticleDetailUrl}} {{$value.Index}} {{$value.ImageUrl}} {{$value.Name}}<br>
{{end}}
<br>
{{range $index, $value := .Person4}}
{{$index}} {{$value.ArticleDetailUrl}} {{$value.Index}} {{$value.ImageUrl}} {{$value.Name}}<br>
{{end}}
<br>
{{range $index, $value := .Person5}}
{{$index}} {{$value.ArticleDetailUrl}} {{$value.Index}} {{$value.ImageUrl}} {{$value.Name}}<br>
{{end}}
{{end}}





<!----- 結果ランキング ----->
{{define "resultContentBody"}}
{{range $i, $v := .ImageUrlAry}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    <!--background: url({{$v |html}}) center / cover;-->
    }

    .back-image-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    position: relative;
    <!--width: 256px;-->
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
    .image-jump-to-article {
    opacity: 0.0;
    color: Transparent;
    width: 256;
    height: 256;
    }

    .badge-extend {
        position: absolute;
        left: 5px;
        top: 5px;
    }
</style>
{{end}}

<style>
    #main-title{
        <!--position: fixed;-->
    }
</style>
<p> </p>
<p id="main-title"><font size="5"><b>タップして画像を見る！</b></font></p>
<p> </p>

{{range $i, $v := .ResultRanking}}
<div class="demo-card-image mdl-card mdl-shadow--2dp back-image-{{$i}}" id="ranking-{{$i}}">
    <!--<div class="mdl-card__title mdl-card&#45;&#45;expand"></div>-->
    <input type="submit" class="image-jump-to-article">
    <div class="mdl-card__actions">
        <span class="demo-card-image__filename">{{$v.Name |html}}</span>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
        <span>{{$v.Rank}}<i class="material-icons"></i></span>
    </button>

</div>
<br>
{{end}}

<!--<div id="postArrayConfirm">-->
    <!--<button>-->
        <!--たしかめ-->
    <!--</button>-->
<!--</div>-->
<script>
    <!--document.getElementById("postArrayConfirm").onclick = function(){-->
        <!--console.log("ほげほげ");-->
        <!--{{range $i, $v := .PostImageUrls}}-->
            <!--console.log("-&#45;&#45;&#45;&#45;{{$i}}-&#45;&#45;&#45;&#45;");-->
            <!--console.log({{$v |html}});-->
        <!--{{end}}-->
    <!--}-->

    //サーバから受け取る各人の画像URL
    imageUrls = [];
    {{range $i, $v := .PostImageUrls}}
        imageUrls[{{$i}}] = {{$v |html}};
    {{end}}

    postImageUrl0 = [];
    postImageUrl1 = [];
    postImageUrl2 = [];
    postImageUrl3 = [];
    postImageUrl4 = [];
    counter = 0;

    for(var i = 0; i < 20; i++){
        if(counter % 4 == 0){
            counter = 0;
        }

        if(i >= 0 && i < 4){
            postImageUrl0[counter] = imageUrls[i];
            console.log(postImageUrl0[counter] = imageUrls[i]);
        }else if(i >= 4 && i < 8){
            postImageUrl1[counter] = imageUrls[i];
            console.log(postImageUrl1[counter] = imageUrls[i]);
        }else if(i >= 8 && i < 12){
            postImageUrl2[counter] = imageUrls[i];
            console.log(postImageUrl2[counter] = imageUrls[i]);
        }else if(i >= 12 && i < 16){
            postImageUrl3[counter] = imageUrls[i];
            console.log(postImageUrl3[counter] = imageUrls[i]);
        }else if(i >= 16 && i < 20){
            postImageUrl4[counter] = imageUrls[i];
            console.log(postImageUrl4[counter] = imageUrls[i]);
        }

        counter++;
    }

    document.getElementById("ranking-0").onclick = function(){
        form = $('<form action="' + 'recommend/photolist' + '" method="post">' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl0[0].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl0[1].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl0[2].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl0[3].toString() + '"/>' +
            '</form>');
        $("body").append(form);
        form.submit();
    }
    document.getElementById("ranking-1").onclick = function(){
        form = $('<form action="' + 'recommend/photolist' + '" method="post">' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl1[0].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl1[1].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl1[2].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl1[3].toString() + '"/>' +
            '</form>');
        $("body").append(form);
        form.submit();
    }
    document.getElementById("ranking-2").onclick = function(){
        form = $('<form action="' + 'recommend/photolist' + '" method="post">' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl2[0].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl2[1].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl2[2].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl2[3].toString() + '"/>' +
            '</form>');
        $("body").append(form);
        form.submit();
    }
    document.getElementById("ranking-3").onclick = function(){
        form = $('<form action="' + 'recommend/photolist' + '" method="post">' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl3[0].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl3[1].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl3[2].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl3[3].toString() + '"/>' +
            '</form>');
        $("body").append(form);
        form.submit();
    }
    document.getElementById("ranking-4").onclick = function(){
        form = $('<form action="' + 'recommend/photolist' + '" method="post">' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl4[0].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl4[1].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl4[2].toString() + '"/>' +
            '<input type="hidden" name="postImageUrlArray[]" value="' + postImageUrl4[3].toString() + '"/>' +
            '</form>');
        $("body").append(form);
        form.submit();
    }
</script>

{{end}}








<!----- オススメ一覧 ----->
{{define "recommendContentBody"}}
{{range $i, $v := .ImageUrlAry1}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    }
    .back-image-1-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
</style>
{{end}}
{{range $i, $v := .ImageUrlAry2}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    }
    .back-image-2-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
</style>
{{end}}
{{range $i, $v := .ImageUrlAry3}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    }
    .back-image-3-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
</style>
{{end}}
{{range $i, $v := .ImageUrlAry4}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    }
    .back-image-4-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
</style>
{{end}}
{{range $i, $v := .ImageUrlAry5}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    }
    .back-image-5-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }
</style>
{{end}}




{{range $i, $v := .ImageUrlAry}}
<style>
    .demo-card-image.mdl-card {
    <!--width: 256px;-->
    <!--height: 256px;-->
    <!--background: url({{$v |html}}) center / cover;-->
    }

    .back-image-0-{{$i}}{
    width: 256px;
    height: 256px;
    background: url({{$v |html}}) center / cover;
    <!--width: 256px;-->
    }
    .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    }
    .demo-card-image__filename {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    }

    .badge-extend {
    position: absolute;
    left: 5px;
    top: 5px;
    }

    .main_img-{{$i}} {
    width: 100px;
    height: 100px;
    background: url({{$v |html}}) center / cover;;
    }
</style>
{{end}}

<!--{{range $i, $v := .ResultRanking}}-->
<!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
        <!--<div class="demo-card-image mdl-card mdl-shadow&#45;&#45;2dp back-image-0-{{$i}}">-->
            <!--<div class="mdl-card__title mdl-card&#45;&#45;expand"></div>-->
            <!--<div class="mdl-card__actions">-->
                <!--<span class="demo-card-image__filename">{{$v.Name |html}}</span>-->
            <!--</div>-->

            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab mdl-button&#45;&#45;colored badge-extend">-->
                <!--<span>{{$v.Rank}}<i class="material-icons"></i></span>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--<div class="mdl-grid">-->

    <!--<p id="hogehoge">あ</p>-->
    <!--<p id="hogehoge1">い</p>-->


    <!--<script>-->
        <!--var a = {{$v.Name |html}};-->
        <!--document.getElementById("hogehoge").textContent = a;-->

        <!--var compareOperand = {{$i}};-->
        <!--if (compareOperand == 2) {-->
            <!--document.getElementById("hogehoge1").textContent = a;-->
        <!--}-->
    <!--</script>-->
<!--{{end}}-->



<!--  1位  -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
            <!--<p> </p>-->
            <!--<p><font size="5"><b>タップして記事を見る！</b></font></p>-->
            <!--<p> </p>-->

            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-0-0 ">
                <div class="mdl-card__title mdl-card--expand"></div>

                <!--<div class="mdl-card__actions" id="hogehoge3">-->
                <!--{{range $i, $v := .ResultRanking}}-->
                <!--<script>-->
                <!--var a = {{$v.Name |html}};-->
                <!--document.getElementById("hogehoge2").textContent = a;-->

                <!--var compareOperand = {{$i}};-->

                <!--if (compareOperand == 2) {-->
                <!--document.getElementById("hogehoge3").textContent = a;-->
                <!--}-->
                <!--</script>-->
                <!--{{end}}-->
                <!--<span class="demo-card-image__filename" >おおはし</span>-->
                <!--</div>-->

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
                    <span>1<i class="material-icons"></i></span>
                </button>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    {{range $index, $value := .Person1}}
    <div class="mdl-cell mdl-cell--2-col">
        <a href={{$value.ArticleDetailUrl |html}} target="_blank">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-1-{{$index}}">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{$value.Name |html}}</span>
                </div>
            </div>
        </a>
        <br>
    </div>
    {{end}}
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<!--  2位  -->
<!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
        <!--<hr>-->
    <!--</div>-->
<!--</div>-->

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-0-1">
                <div class="mdl-card__title mdl-card--expand"></div>

                <!--<div class="mdl-card__actions" id="hogehoge3">-->
                <!--{{range $i, $v := .ResultRanking}}-->
                <!--<script>-->
                <!--var a = {{$v.Name |html}};-->
                <!--document.getElementById("hogehoge2").textContent = a;-->

                <!--var compareOperand = {{$i}};-->

                <!--if (compareOperand == 2) {-->
                <!--document.getElementById("hogehoge3").textContent = a;-->
                <!--}-->
                <!--</script>-->
                <!--{{end}}-->
                <!--<span class="demo-card-image__filename" >おおはし</span>-->
                <!--</div>-->

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
                    <span>2<i class="material-icons"></i></span>
                </button>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    {{range $index, $value := .Person2}}
    <div class="mdl-cell mdl-cell--2-col">
        <a href={{$value.ArticleDetailUrl |html}} target="_blank">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-2-{{$index}}">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{$value.Name |html}}</span>
                </div>
            </div>
        </a>
        <br>
    </div>
    {{end}}
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<!--  3位  -->
<!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
        <!--<hr>-->
    <!--</div>-->
<!--</div>-->

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
        <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-0-2">
            <div class="mdl-card__title mdl-card--expand"></div>

            <!--<div class="mdl-card__actions" id="hogehoge3">-->
            <!--{{range $i, $v := .ResultRanking}}-->
            <!--<script>-->
            <!--var a = {{$v.Name |html}};-->
            <!--document.getElementById("hogehoge2").textContent = a;-->

            <!--var compareOperand = {{$i}};-->

            <!--if (compareOperand == 2) {-->
            <!--document.getElementById("hogehoge3").textContent = a;-->
            <!--}-->
            <!--</script>-->
            <!--{{end}}-->
            <!--<span class="demo-card-image__filename" >おおはし</span>-->
            <!--</div>-->

            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
                <span>3<i class="material-icons"></i></span>
            </button>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    {{range $index, $value := .Person3}}
    <div class="mdl-cell mdl-cell--2-col">
        <a href={{$value.ArticleDetailUrl |html}} target="_blank">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-3-{{$index}}">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{$value.Name |html}}</span>
                </div>
            </div>
        </a>
        <br>
    </div>
    {{end}}
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<!--  4位  -->
<!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
        <!--<hr>-->
    <!--</div>-->
<!--</div>-->

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
        <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-0-3">
            <div class="mdl-card__title mdl-card--expand"></div>

            <!--<div class="mdl-card__actions" id="hogehoge3">-->
            <!--{{range $i, $v := .ResultRanking}}-->
            <!--<script>-->
            <!--var a = {{$v.Name |html}};-->
            <!--document.getElementById("hogehoge2").textContent = a;-->

            <!--var compareOperand = {{$i}};-->

            <!--if (compareOperand == 2) {-->
            <!--document.getElementById("hogehoge3").textContent = a;-->
            <!--}-->
            <!--</script>-->
            <!--{{end}}-->
            <!--<span class="demo-card-image__filename" >おおはし</span>-->
            <!--</div>-->

            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
                <span>4<i class="material-icons"></i></span>
            </button>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    {{range $index, $value := .Person4}}
    <div class="mdl-cell mdl-cell--2-col">
        <a href={{$value.ArticleDetailUrl |html}} target="_blank">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-4-{{$index}}">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{$value.Name |html}}</span>
                </div>
            </div>
        </a>
        <br>
    </div>
    {{end}}
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<!--  5位  -->
<!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
        <!--<hr>-->
    <!--</div>-->
<!--</div>-->

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
        <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-0-4">
            <div class="mdl-card__title mdl-card--expand"></div>

            <!--<div class="mdl-card__actions" id="hogehoge3">-->
            <!--{{range $i, $v := .ResultRanking}}-->
            <!--<script>-->
            <!--var a = {{$v.Name |html}};-->
            <!--document.getElementById("hogehoge2").textContent = a;-->

            <!--var compareOperand = {{$i}};-->

            <!--if (compareOperand == 2) {-->
            <!--document.getElementById("hogehoge3").textContent = a;-->
            <!--}-->
            <!--</script>-->
            <!--{{end}}-->
            <!--<span class="demo-card-image__filename" >おおはし</span>-->
            <!--</div>-->

            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored badge-extend">
                <span>5<i class="material-icons"></i></span>
            </button>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    {{range $index, $value := .Person5}}
    <div class="mdl-cell mdl-cell--2-col">
        <a href={{$value.ArticleDetailUrl |html}} target="_blank">
            <div class="demo-card-image mdl-card mdl-shadow--2dp back-image-5-{{$index}}">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{$value.Name |html}}</span>
                </div>
            </div>
        </a>
        <br>
    </div>
    {{end}}
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>

{{end}}