@charset "utf-8";

img{
	width:100%;
	margin:0 auto;
}

p{
	font-family:  "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

/*main*/
#wrapper{
	width:970px;
}

h1 img{
	width:95%;
}

/*si css*/
#findol p{
	font-size: 35px;
	text-align: center;
}

#sort_box{
	width:780px;
	text-align: center;
}

.sort{
	float: left;
	margin-left: 50px;
	width: 300px;
}

.sort p{
	font-size: 25px;
	text-align: center;
}

.clear{
	clear:both;
}

#button{
	margin: 0 auto;
}

#hikiwake{
	width:750px;
	position: relative;
	background-color: #6edaf4;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #4faac0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	font-size: 25px;
	text-align: center;
	margin:20px auto;
}

#back{
	width:345px;
	position: relative;
	background-color: #ffce42;
	border-radius: 4px;
	color: #fff;
	line-height: 15px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #d7ae38;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	float: left;
	font-size: 18px;
	text-align: center;
	margin:20px auto;
}


#howto{
	width:345px;
	position: relative;
	background-color: #14de8b;
	border-radius: 4px;
	color: #fff;
	line-height: 15px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #2ec16c;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	float: left;
	font-size: 18px;
	text-align: center;
	margin-top:20px;
	margin-left: 60px;
}

#button_side{
	margin: 0 110px;
}


